In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Hypothesis Testing: Mean Housing Prices During 2008 Recession

The purpose of this notebook is to look at how a town's mean housing cost is effected by having a substantial university population during a recession.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by the 2008 recession. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are publicly available via the following sources:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this project, I will only look at GDP data from the first quarter of 2000 onward.

In [27]:
# This dictionary will be used to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [28]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needed to be done:

    1. For "State" column, removing characters from "[" to the end.
    2. For "RegionName" column, when applicable, removing every character from " (" to the end.
    3. I may need to also remove newline character '\n'. '''
    datalst = []
    state = None
    
    fh = open('university_towns.txt', 'r')
    for line in fh:
        if line.strip('\n')[-6:] == '[edit]':
            state = line.strip('\n')[:-6]
            continue
        if '(' in line:
            index = line.find('(')
            temp_town = line[:index].strip()
            datalst.append([state, temp_town])
        else:
            datalst.append([state, line.strip()])
    df = pd.DataFrame(datalst, columns=["State", "RegionName"])
    return df
get_list_of_university_towns().head()

     State    RegionName
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo

In [29]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3
    From Bureau of Economic Analysis, US Department of Commerce, the GDP over time of the United States in current dollars 
    (use the chained value in 2009 dollars), in quarterly intervals, in the file gdplev.xls. For this project, I will 
    only look at GDP data from the first quarter of 2000 onward.
    '''
    df = pd.read_excel('gdplev.xls', skiprows=219)
    df.drop(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 7', 12323.3], axis=1, inplace=True)
    df.rename(columns={'1999q4': 'Quarter', 9926.1: 'GDP'}, inplace=True)
    for i in range(2, len(df)):
        if (df.iloc[i-2][1] > df.iloc[i-1][1]) and (df.iloc[i-1][1] > df.iloc[i][1]):
            return df.iloc[i-2][0]
get_recession_start()

'2008q3'

In [32]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    df = pd.read_excel('gdplev.xls', skiprows=219)
    df.drop(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 7', 12323.3], axis=1, inplace=True)
    df.rename(columns={'1999q4': 'Quarter', 9926.1: 'GDP'}, inplace=True)
    strt = get_recession_start()
    strt_index = df.loc[df['Quarter'] == strt].index.tolist()[0]
    df = df.loc[strt_index:]
    for i in range(2, len(df)):
        if (df.iloc[i-2][1] < df.iloc[i-1][1]) and (df.iloc[i-1][1] < df.iloc[i][1]):
            return df.iloc[i][0]
get_recession_end()

'2009q4'

In [33]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    df = pd.read_excel('gdplev.xls', skiprows=219)
    df.drop(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 7', 12323.3], axis=1, inplace=True)
    df.rename(columns={'1999q4': 'Quarter', 9926.1: 'GDP'}, inplace=True)
    strt = get_recession_start()
    strt_index = df.loc[df['Quarter'] == strt].index.tolist()[0]
    end = get_recession_end()
    end_index = df.loc[df['Quarter'] == end].index.tolist()[0]
    df = df.loc[strt_index:end_index]
    bottom = df['GDP'].min()
    df =  df.loc[df['GDP'] == bottom].reset_index()
    return df.iloc[0]['Quarter']
get_recession_bottom()

'2009q2'

In [34]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the project description, they are
    not arbitrary three month periods.
    
    Q1 is January through March,
    Q2 is April through June, 
    Q3 is July through September, 
    Q4 is October through December
    '''
    quarters = ['q1', 'q2', 'q3', 'q4']
    years = list(range(2000,2017))
    combined = []
    for i in years:
        for j in quarters:
            combined.append((str(i)+j))
    
    df = pd.read_csv('City_Zhvi_AllHomes.csv')
    df.drop(['RegionID', 'Metro', 'CountyName', 'SizeRank'], axis=1, inplace=True)
    df['State'] = df['State'].map(states)
    df.set_index(['State', 'RegionName'], inplace=True)
    
    columns = df.columns.tolist()
    index = columns.index('2000-01') 
    columns = columns[0:index]
    df.drop(columns, axis=1, inplace=True)
    
    columns_2_quarters = [list(df.columns)[x:x+3] for x in range(0, len(list(df.columns)), 3)]
    
    for x,y in zip(combined, columns_2_quarters):
        df[x] = df[y].mean(axis=1)
        df.drop(y, axis=1, inplace=True)
    
    return df
convert_housing_data_to_quarters().head()

,,2000q1,2000q2,2000q3,2000q4,2001q1,2001q2,2001q3,2001q4,2002q1,2002q2,...,2014q2,2014q3,2014q4,2015q1,2015q2,2015q3,2015q4,2016q1,2016q2,2016q3
State,RegionName,,,,,,,,,,,,,,,,,,,,,
New York,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,515466.666667,522800.000000,528066.666667,532266.666667,540800.000000,557200.000000,572833.333333,582866.666667,591633.333333,587200.0
California,Los Angeles,207066.666667,214466.666667,220966.666667,226166.666667,233000.000000,239100.000000,245066.666667,253033.333333,261966.666667,272700.000000,...,498033.333333,509066.666667,518866.666667,528800.000000,538166.666667,547266.666667,557733.333333,566033.333333,577466.666667,584050.0
Illinois,Chicago,138400.000000,143633.333333,147866.666667,152133.333333,156933.333333,161800.000000,166400.000000,170433.333333,175500.000000,177566.666667,...,192633.333333,195766.666667,201266.666667,201066.666667,206033.333333,208300.000000,207900.000000,206066.666667,208200.000000,212000.0
Pennsylvania,Philadelphia,53000.000000,53633.333333,54133.333333,54700.000000,55333.333333,55533.333333,56266.666667,57533.333333,59133.333333,60733.333333,...,113733.333333,115300.000000,115666.666667,116200.000000,117966.666667,121233.333333,122200.000000,123433.333333,126933.333333,128700.0
Arizona,Phoenix,111833.333333,114366.666667,116000.000000,117400.000000,119600.000000,121566.666667,122700.000000,124300.000000,126533.333333,128366.666667,...,164266.666667,165366.666667,168500.000000,171533.333333,174166.666667,179066.666667,183833.333333,187900.000000,191433.333333,195200.0

In [35]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence.  
    
    Returns a tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    start = get_recession_start()
    end = get_recession_end()
    bottom = get_recession_bottom()
    uni_towns = set(get_list_of_university_towns()['RegionName'])
    all_housing = convert_housing_data_to_quarters()
    
    ## housing data prep
    col = list(all_housing.columns)
    index_start = col.index(start)
    index_end = col.index(end)
    col = col[index_start:index_end+1]
    all_housing = all_housing[col].reset_index()
    all_housing["Ratio"] = (all_housing['2008q3'] - all_housing['2009q2'])/ all_housing['2008q3']
    
    different = None
    p = None
    better = None
    
    ### Sets binary(categorical) variable for university town or not
    unitwn = []
    for index, row in all_housing.iterrows():
        if row['RegionName'] in uni_towns:
            unitwn.append(1)
        else:
            unitwn.append(0)
    all_housing['UniTown'] = unitwn
    
    
    uni = all_housing[all_housing['UniTown']==1]['Ratio'].dropna()
    norm  = all_housing[all_housing['UniTown']==0]['Ratio'].dropna()
    ### better
    if norm.mean() < uni.mean():
        better = 'non-university town'
    else:
        better = 'university town'
        
    ### p val
    print(ttest_ind(norm, uni))
    p = list(ttest_ind(norm, uni))[1]
    if p <= 0.01:
        different = True
    else:
        different = False
    
    
    final = (different, p, better)
    return final
run_ttest()

Ttest_indResult(statistic=3.5643958297363705, pvalue=0.00036641601595526971)

(True, 0.00036641601595526971, 'university town')